{% extends "base.html" %}

{% block title %}메인{% endblock %}

{% block content %}
<h2>최신 게시글</h2>
{% if posts %}
    <ul class="list-group">
        {% for post in posts %}
            <li class="list-group-item">
                <h5>{{ post.title }}</h5>
                <p>{{ post.content[:100] }}{% if post.content|length > 100 %}...{% endif %}</p>
                <small>{{ post.created_at.strftime('%Y-%m-%d %H:%M') }}</small>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>게시글이 없습니다.</p>
{% endif %}
{% endblock %}
