{% extends "base.html" %}
{% block title %}지도 보기{% endblock %}
{% block content %}
<div class="container mt-4">
  <h2 class="mb-3 text-center">구글 지도 (인천국제공항)</h2>
  <div class="ratio ratio-16x9 shadow rounded">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.058390769833!2d126.44069561526073!3d37.46019023790333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c9d6f0f9af1f7%3A0x4cd024a3b3da9e25!2z7J247YOA6rSR7Jet7Iuc6rOucqvO2VtA!5e0!3m2!1sko!2skr!4v1700000000000!5m2!1sko!2skr"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
    </iframe>
  </div>
</div>
{% endblock %}
