{% extends "base.html" %}
{% block title %}게시글 목록{% endblock %}
{% block content %}
<h1>게시글 목록</h1>
{% if current_user %}
    <a href="{{ url_for('new_post') }}" class="btn btn-primary mb-3">새 글 작성</a>
{% endif %}
<div class="list-group">
    {% for post in posts %}
        <a href="{{ url_for('post_detail', post_id=post.id) }}" class="list-group-item list-group-item-action">
            {{ post.title }} - {{ post.created_at.strftime("%Y-%m-%d") }}
        </a>
    {% endfor %}
</div>
{% endblock %}
